<!DOCTYPE html>
<html>
<head>
  <title>Invoice Hero</title>
</head>
<body>
  <h1>Invoice Hero</h1>
  <p>Welcome to Invoice Hero, the best way to manage your invoices.</p>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username">
      <br>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password">
      <br>
      <input type="submit" value="Log In">
    </form>
  <br>
  <a href="/signup">Sign up</a> to get started.
</body>
</html>
