<!DOCTYPE html>
<html>
<head>
  <title>Create New Invoice</title>
</head>
<body>
  <h1>Create New Invoice</h1>
  <form action="/invoices/new" method="POST">
    <div>
        <button type="button" onclick="window.location.href='/clients/new'">New Client</button>
    </div>
    <label for="client_id">Client:</label>
    <select name="client_id">
        {% for client in clients %}
          <option value="{{ client.id }}" {% if client.id == client_id %}selected{% endif %}>{{ client.name }}</option>
        {% endfor %}
    </select>
    <br>
    <label for="address">Client Address:</label>
    <input type="text" name="address">
    <br> 
    <label for="date">Item date:</label>
    <input type="date" name="date">
    <br>
    <label for="activity">Item Name:</label>
    <input type="text" name="activity">
    <br>
    <label for="hours">Hours/Qty:</label>
    <input type="number" name="hours">
    <br>
    <label for="rate">Rate:</label>
    <input type="number" name="rate">
    <br>
    <label for="Style">Style:</label>
    <input type="text" name="style">
    <br>

    <input type="submit" value="Create">
  </form>
</body>
</html>
