{% extends 'template_out.html' %}

{% block title %}login{% endblock %}

{% block content %}
 
    <!-- Registration -->
    <div class="container mt-5">
        <main class="form-signin">
            <h1 class="p-4 text-center" style="color:rgb(6, 45, 221);">Invoice Hero</h1>
            <form action="/signup" method="POST">

                <h2 class="mb-3 fw-normal">Register</h2>

                <div class="card border-light-subtle shadow-sm">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h2 class="h4 text-center">User account</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row gy-3 overflow-hidden">
                            <div class="col-12">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                                    <label for="name" class="form-label">Name</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Lastname" required>
                                    <label for="lastname" class="form-label">Lastname</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                                    <label for="password">Password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" name="Re-password" id="Re-password" placeholder="Re-password" required>
                                    <label for="Re-password" class="form-label">Re-password</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                                    <label for="email" class="form-label">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" name="re-email" id="re-email" placeholder="Re-email" required>
                                    <label for="re-email" class="form-label">Re-email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone" pattern="^(\(0[1-9]\)|0[1-9])[0-9]{8}$" required>
                                    <label for="phone" class="form-label">Phone</label>
                                </div>
                                <button class="btn btn-primary w-100 py-2" type="submit" value="Sign Up">Sign up</button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="mt-2 mb-3 text-body-secondary"> &copy; Invoice Hero 2024</p>
            </form>
        </main>
    </div>   
{% endblock %}
