<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <br>
    <label for="phone">Phone:</label>
    <input type="phone" name="phone" id="phone">
    <br>
    <label for="abn">Abn:</label>
    <input type="text" name="abn" id="abn">
    <br>
    <label for="bank">Bank:</label>
    <input type="text" name="bank" id="bank">
    <br>
    <label for="account_name">Account Name:</label>
    <input type="text" name="account_name" id="account_name">
    <br>
    <label for="bsb">bsb:</label>
    <input type="text" name="bsb" id="bsb">
    <br>
    <label for="account_number">Account Number:</label>
    <input type="text" name="account_number" id="account_number">
    <br>
    <input type="submit" value="Sign Up">
  </form>
</body>
</html>
